.card {
  background: lightslategrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 30px;
  padding: 10px;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.details {
  background: lightslategrey;
  display: flex;
  flex-direction: row;
  margin: 30px;
  padding: 10px;
  gap: 20px;
  width: 80%;
  height: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.movie {
  width: 300px;
}

.deleteButton {
  width: 200px;
  height: 100px;
  position: fixed;
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
}
